.idea/
.settings/
.classpath
*.project
*.time
pom.properties
*tmp
build
nbproject/
build/
target/
interpolated-pom.xml
*.jar
*.log
*.class
*.ipr
*.iws
*.iml
assemblies/
build/
maven-archiver/
maven-status/