.idea/
.settings/
.classpath
gwt-unitCache/
*.project
*.time
*.ser
static/app
Application/
pom.properties
*tmp
build
nbproject/
build/
target/
interpolated-pom.xml
*.jar
*.log
*.class
*.ipr
*.iws
*.iml
apidocs/
assemblies/
build/
*/maven-archiver/
/web/api/src/main/webapp/WEB-INF/spring/config/config.xml
/web/api/src/main/webapp/WEB-INF/spring/env.properties