<#function toCamelCase value>
    <#return value?replace("_[a-z]", "$0", 'r')?upper_case>
</#function>

<#macro renderParameters parameters>
<#if parameters?size != 0><#assign i = 0 /><#list parameters as param><#assign i = i + 1>@Param( value = ${param.name} ) ${param.type?replace(".class", "")} ${param.name?replace("\"", "")}<#if i != parameters?size>, </#if></#list></#if></#macro>

<#function ucfirst value>
    <#return value?substring(0, 1)?upper_case + value?substring(1)>
</#function>