<#import "functions.template" as fn/>
package ${package};

public class I${entityName}Service {

    public ${entityType} create${fn.ucfirst(entityName)}();

    public void remove${entityName}( Long id );

    public java.util.Collection<${entityType}> get${fn.ucfirst(entityName)}List();

}